body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: left;
  padding: 8px;
  background-color: #af2727;
}
td {
  padding: 8px;
}
.button-container {
    margin-top: 10px;
}

.grade-button,
.flourish-button,
.note-button {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.grade-button:hover,
.flourish-button:hover,
.note-button:hover {
    background-color: #45a049;
}