.student-list {
    list-style-type: none;
    padding: 0;
}

.student-list li {
    margin-bottom: 20px;
}

.student-link {
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.button-container {
    margin-top: 10px;
}
