{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/my_grade.css" %}">
    <body>
  <h1>My Grade</h1>
  <table>
    <tr>
      <th>Subject</th>
      <th>Grade</th>
    </tr>
    {% for grade in math_grades %}
      <tr>
        <td>Math</td>
        <td>{{ grade.grade }}</td>
      </tr>
    {% endfor %}
    {% for grade in history_grades %}
      <tr>
        <td>History</td>
        <td>{{ grade.grade }}</td>
      </tr>
    {% endfor %}
  </table>
</body>
{% endblock %}